[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "~=3.8"

[packages]
Django = "==3.0.6"
django-widget-tweaks = "~=1.4"
requests = "~=2.23"
atomicwrites = "~=1.3"
