{% extends "registration/base.html" %}
{% load i18n widget_tweaks %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{{ title }}{% endblock %}
{% block content %}

{% if validlink %}

<p class="text-center">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form class="w-64 m-auto" method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1|add_class:"w-full" }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2|add_class:"w-full" }}
    </div>
    <div class="text-center pt-2">
        <input class="bg-green-600 text-white px-4 py-1 cursor-pointer uppercase" type="submit"
            value="{% trans 'Change my password' %}" />
    </div>
</fieldset>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
