{% extends "registration/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Reset password' %}{% endblock%}
{% block content_title %}{% trans 'Reset password' %}{% endblock%}
{% block content %}

<div class="text-center">
    {{ form.non_field_errors }}
    {{ form.email.errors }}
</div>

<form class="w-64 m-auto" action="{% url 'password_reset' %}" method="post" accept-charset="utf-8" role="form">
    {% csrf_token %}


    <div class="form-row">
        {{ form.email.label_tag }}<br>{{ form.email|add_class:"w-full" }}
    </div>

    <div class="text-center pt-2">
        <input class="bg-green-600 text-white px-4 py-1 cursor-pointer uppercase" type="submit"
            value="{% trans 'Reset password' %}" />
    </div>
</form>
{% endblock %}