{% load i18n %}

{% for troop in request.user.troops.all %}
    <h3 class="uppercase text-sm text-gray-800 mt-6">{{ troop.name }}</h3>
    <div class="my-2">
        {% url 'troop:index' troop_number=troop.number as href %}
        {% include 'registration/_base/navigation_link.html' with href=href text="Übersicht" %}
        <!-- dates, number of registrations, prices...-->

        {% url 'troop:participant.nami-search' troop_number=troop.number as href %}
        {% include 'registration/_base/navigation_link.html' with href=href text="Neue Anmeldung" %}
        <!-- NaMi import, manual import-->

        {% url 'troop:participant.index' troop_number=troop.number as href %}
        {% include 'registration/_base/navigation_link.html' with href=href text="Aktuelle Anmeldungen" %}
        <!-- List to view & edit-->
    </div>
{% endfor %}

<!-- TODO hide/show depending on user rights-->
<h3 class="uppercase text-sm text-gray-800 mt-6">{% trans "Exporte" %}</h3>
<div class="my-2">
    {% include 'registration/_base/navigation_link.html' with to="password_change_form" text="Kitchen overview" %}
    {% include 'registration/_base/navigation_link.html' with to="password_change_form" text="Helpers overview" %}
    {% include 'registration/_base/navigation_link.html' with to="password_change_form" text="Medical overview" %}
    {% include 'registration/_base/navigation_link.html' with to="password_change_form" text="Emergency management" %}
</div>

{% if request.user.is_superuser %}
<h3 class="uppercase text-sm text-gray-800 mt-6">{% trans "Verwaltung" %}</h3>
<div class="my-2">
    {% include 'registration/_base/navigation_link.html' with to="admin:index" text="Django-Verwaltung" %}
</div>
{% endif %}

<h3 class="uppercase text-sm text-gray-800 mt-6">{{ user.email }}</h3>
<div class="my-2">
    {% include 'registration/_base/navigation_link.html' with to="password_change_form" text="Change password" %}
    {% include 'registration/_base/navigation_link.html' with to="logout" text="Logout" %}
</div>