{% extends "registration/base.html" %}
{% load i18n %}
{% load troop_extras %}

{% block content_title %}{% trans "Aktuelle Anmeldungen" %}<small> - {{request.troop.name}}</small>{% endblock %}
{% block content %}

{% if not participant_list %}
	<p>{% trans "Noch keine Anmeldung." %}</p>
{% else %}
	<div class="table w-full">
		<div class="table-row-group">
			<div class="table-row font-bold">
				<span class="table-cell p-2">{{ header_age_section }}</span>
				<span class="table-cell p-2">{{ header_last_name }}</span>
				<span class="table-cell p-2">{{ header_first_name }}</span>
				<span class="table-cell p-2">{% trans "Tage am Lager" %}</span>
				<span class="table-cell p-2">{{ header_nami }}</span>
			</div>
		</div>
		<div class="table-row-group">
		{% regroup participant_list by age_section as sections %}

		{% for section in sections %}
			{% with section.grouper|section_color as color %}
			{% for participant in section.list %}
				<a class="table-row {% cycle 'bg-gray-100' 'bg-gray-200' 'bg-gray-100' %} hover:bg-green-200" href="{% url "troop:participant.edit"  troop=request.troop.number pk=participant.pk %}">
					<span class="table-cell p-2 border-{{color}} border-l-4 {% if forloop.first %}rounded-tl{% endif %} {% if forloop.last %}rounded-bl{% endif %}">
						{% if not participant.age_section %}
							<em>{% trans "no section" %}</em>
						{% else %}
							{{ participant.age_section|section_trans }}
						{% endif %}
						{% if participant.is_leader %}- {% trans "Leader" %}{% endif %}
					</span>
					<span class="table-cell p-2">{{ participant.last_name }}</span>
					<span class="table-cell p-2">{{ participant.first_name }}</span>
					<span class="table-cell p-2">{{ participant.attendance_count }}</span>
					<span class="table-cell p-2">{{ participant.nami }}</span>
				</a>
			{% endfor %}
			{% endwith %}
		{% endfor %}
		</div>
	</div>
{% endif %}

<div class="mt-2">
	<a href="{% url "troop:participant.create" troop=request.troop.number %}" class="bg-green-600 text-white px-4 py-1 cursor-pointer uppercase">{% trans "Neue Anmeldung" %}</a>
</div>
{% endblock %}
