{% load static %}
{% load i18n %}
{% load tags %}

<!DOCTYPE html>
<html lang="{{ lang_code }}">

<head>
    <meta charset="utf-8">

    <!-- TODO replace with a proper npm build and purge to reduce its size -->
    <link href="{% static "registration/css/tailwind.min.css" %}" media="all" rel="stylesheet">

    {% block extrastyle %}{% endblock %}

    <link href="{% static "registration/css/style.css" %}" media="all" rel="stylesheet">

    <title>{% block title %}packmas13{% endblock %}</title>
</head>

<body class="font-sans text-base leading-normal tracking-normal min-h-screen flex flex-col bg-gray-100">
    {% include "registration/_base/header.html" %}

    <div class="flex-1 flex px-5">
        {% if user.is_authenticated %}
        <nav class="w-1/5" style="min-width: 16rem;">
            {% include "registration/_base/navigation.html" %}
        </nav>
        {% endif %}
        <div class="flex-1 flex flex-col {% if not user.is_authenticated %}md:mx-32{% endif %}">
            <h1 class="text-3xl mt-5 text-gray-700">
                {% block content_title %}{% endblock %}
            </h1>
            {% if messages %}
                <ul class="mb-1">
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <li class="bg-green-100 text-green-700 border-green-700 border p-4 mb-1">{{ message|escape|safe }}</li>
                        {% elif message.tags == 'error' %}
                            <li class="bg-red-100 text-red-700 border-red-700 border p-4 mb-1">{{ message|escape|safe }}</li>
                        {% else %}
                            <li class="bg-blue-100 text-blue-700 border-blue-700 border p-4 mb-1">{{ message|escape|safe }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="bg-white flex-1 shadow p-2">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="py-5">
        <p class="text-gray-700 text-center">
            <a class="hover:underline" href="{% setting "PRIVACY_URL" %}" target="_blank">{% trans "Privacy" %}</a>
            -
            <a class="hover:underline" href="{% setting "IMPRINT_URL" %}" target="_blank">{% trans "Imprint" %}</a>
            -
            <a class="hover:underline" href="https://github.com/packmas13/registration"
                target="_blank">{% trans "About this software" %}</a>
        </p>
    </footer>
</body>

</html>
